{{#if showFor}}
  {{#if displayHomepageFeatured}}
    <div class="custom-homepage-wrapper">
      <div class="wrap custom-homepage">
        <div class="featured-topic-wrapper">
          {{#if (theme-setting "show_title")}}
            {{titleElement}}
          {{/if}}
          {{conditional-loading-spinner condition=loadingFeatures}}
          <div class="featured-topics">
            {{#each customFeaturedTopics as |t|}}
              <div class="featured-topic">
                <div class="featured-topic-image" style="background-image: url({{t.image_url}})">
                  <a href="/t/{{t.slug}}"></a>
                </div>
                <div class="featured-topic-meta">
                  <h5 class="featured-topic-category-name">{{category-link t.category}}</h5>
                  <h3 class="featured-topic-title">{{topic-link t}}</h3>
                  <span class="featured-topic-date-time">{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}