{{#if (theme-setting "show_category_list")}}
{{#if displayHomepageFeatured}}
<div class="category-homepage-wrapper">
  <div class="category-wapper">
    <div class="b-sub">
      <ul class="b-sub__items-0 h-nav-sub-items">
        <li class="b-sub__item-0"><a href="#!">Danh mục: </a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/goi-y/8">Gợi ý</a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/huong-dan-mua-sam/9">Hướng dẫn mua sắm</a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/ma-giam-gia/7">Mã giảm giá</a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/khuyen-mai/6">Khuyến mãi</a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/thuong-hieu/22">Thương hiệu</a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/mua-sam-hoan-tien/16">Mua sắm hoàn tiền</a></li>
        <li class="b-sub__item-0"><a href="https://thuvienmuasam.com/c/hoi-dap/10">Hỏi đáp</a></li>
      </ul>
    </div>
  </div>
</div>
{{/if}}
{{/if}}

{{#if showFor}}
  {{#if displayHomepageFeatured}}
    <div class="custom-homepage-wrapper">
      <div class="wrap custom-homepage">
        <div class="featured-topic-wrapper">
          {{#if (theme-setting "show_title")}}
            {{titleElement}}
          {{/if}}
          {{conditional-loading-spinner condition=loadingFeatures}}
          <div class="featured-topics">
            {{#each customFeaturedTopics as |t|}}
              <div class="featured-topic" data-index="{{@index}}">
                <div class="featured-topic-image" style="background-image: url({{t.image_url}})">
                  <a href="/t/{{t.slug}}">
                    <img class="featured-topic-thumbnail" 
                        src="{{t.thumbnails.1.url}}"
                        srcset="{{t.thumbnails.0.url}}" 
                        width={{t.thumbnails.0.width}}
                        height={{t.thumbnails.0.height}}
                        loading="lazy"
                      />
                  </a>
                </div>
                <div class="featured-topic-meta">
                  <h5 class="featured-topic-category-name">{{category-link t.category}}</h5>
                  <h3 class="featured-topic-title">{{topic-link t}}</h3>
                  <span class="featured-topic-date-time">{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="latest-topic-wrapper">
          {{conditional-loading-spinner condition=loadingFeatures}}
            <div class="b-grid b-page__grid">
              <div class="b-grid b-grid__cols2">
                {{#each customLatestTopicsLeft as |t|}}
                <div data-index="{{@index}}" class="b-brief b-grid__brief  b-grid__cols2  b-grid__rows4" style="color: #3c508a;">
                  <div class="b-meta b-brief__meta is-color">
                    <h3 class="b-meta__title b-brief__hot dt-clamp dt-clamp-3">{{topic-link t}}</h3>
                    <div class="b-meta__text dt-clamp dt-clamp-3">{{raw "list/topic-excerpt" topic=t}}</div>
                    <div class="b-meta__labels">
                      <span>{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                    </div>
                  </div>
                  <div class="b-brief__image">
                    <img class="d-lazyload" src="{{t.image_url}}">
                  </div>
                </div>
                {{/each}}
              </div>
              <div class="b-grid b-grid__cols2">
              {{#each customLatestTopicsRight as |t|}}
              <div data-index="{{@index}}" class="b-snippet b-grid__snippet  b-grid__cols2  b-grid__rows2">
                <div class="b-meta b-snippet__meta">
                  <h3 class="b-meta__title b-brief__hot dt-clamp dt-clamp-2">{{topic-link t}}</h3>
                  <div class="b-meta__labels">
                    <span>{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                  </div>
                </div>
                <div class="b-snippet__image">
                  <img src="{{t.image_url}}">
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>   
      </div>
    </div>
  {{/if}}
{{/if}}