{{#if (theme-setting "show_category_list")}}
<div class="category-homepage-wrapper">
  <div class="category-wapper wrap">
    <div class="b-sub" style="display: none">
      <ul class="b-sub__items-0 h-nav-sub-items">
        <li class="b-sub__item-0"><a href="">ABC</a></li>
        <li class="b-sub__item-0"><a href="">ABC</a></li>
        <li class="b-sub__item-0"><a href="">ABC</a></li>
        <li class="b-sub__item-0"><a href="">ABC</a></li>
        <li class="b-sub__item-0"><a href="">ABC</a></li>
        <li class="b-sub__item-0"><a href="">ABC</a></li>
      </ul>
    </div>
    <div class="category-grid">
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/2X/2/290dc389bed49ddba73fe82d7a7cbd228e716cdb.svg')">
        <a href="https://thuvienmuasam.com/c/goi-y/8" class="category-link">Gợi ý</a>
      </div>
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/2X/0/03e78f9b51c73772bd0a20c470cd12d86d2067de.svg')">
        <a href="https://thuvienmuasam.com/c/ma-giam-gia/7" class="category-link">Mã giảm giá</a>
      </div>
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/2X/c/c35592439129afb56dd99833a2ef7b3b4f087b35.svg')">
        <a href="https://thuvienmuasam.com/c/khuyen-mai/6" class="category-link">Khuyến mãi</a>
      </div>
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/2X/e/e331076d07d720e4b55941f0f2e296748f6af876.svg')">
        <a href="https://thuvienmuasam.com/c/huong-dan-mua-sam/9" class="category-link">Hướng dẫn mua sắm</a>
      </div>
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/1X/60c836dbafec0293b278d63450cfb005139b1048.svg')">
        <a href="https://thuvienmuasam.com/c/thuong-hieu/22" class="category-link">Thương hiệu</a>
      </div>
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/2X/3/39c19d0c5d933983d8dea8c2394f0529749ba414.svg')">
        <a href="https://thuvienmuasam.com/c/mua-sam-hoan-tien/16" class="category-link">Mua sắm hoàn tiền</a>
      </div>
      <div class="cactegory-item cactegory-item-bg" style="background-image: url('https://thuvienmuasam.com/uploads/default/original/2X/c/cf7b74bbfa110c6024e723f3e7dbbf44bfa72716.svg')">
        <a href="https://thuvienmuasam.com/c/hoi-dap/10" class="category-link">Hỏi đáp</a>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if showFor}}
  {{#if displayHomepageFeatured}}
    <div class="custom-homepage-wrapper">
      <div class="wrap custom-homepage">
        <div class="featured-topic-wrapper">
          {{#if (theme-setting "show_title")}}
            {{titleElement}}
          {{/if}}
          {{conditional-loading-spinner condition=loadingFeatures}}
          <div class="featured-topics">
            {{#each customFeaturedTopics as |t|}}
              <div class="featured-topic" data-index="{{@index}}">
                <div class="featured-topic-image" style="background-image: url({{t.image_url}})">
                  <a href="/t/{{t.slug}}"></a>
                </div>
                <div class="featured-topic-meta">
                  <h5 class="featured-topic-category-name">{{category-link t.category}}</h5>
                  <h3 class="featured-topic-title">{{topic-link t}}</h3>
                  <span class="featured-topic-date-time">{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="latest-topic-wrapper">
          {{conditional-loading-spinner condition=loadingFeatures}}
            <div class="b-grid b-page__grid">
              <div class="b-grid b-grid__cols2">
                {{#each customLatestTopicsLeft as |t|}}
                <div data-index="{{@index}}" class="b-brief b-grid__brief  b-grid__cols2  b-grid__rows4" style="color: #3c508a;">
                  <div class="b-meta b-brief__meta is-color">
                    <h3 class="b-meta__title b-brief__hot dt-clamp dt-clamp-3">{{topic-link t}}</h3>
                    <div class="b-meta__text dt-clamp dt-clamp-3">{{raw "list/topic-excerpt" topic=t}}</div>
                    <div class="b-meta__labels">
                      <span>{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                    </div>
                  </div>
                  <div class="b-brief__image">
                    <img class="d-lazyload" src="{{t.image_url}}">
                  </div>
                </div>
                {{/each}}
              </div>
              <div class="b-grid b-grid__cols2">
              {{#each customLatestTopicsRight as |t|}}
              <div data-index="{{@index}}" class="b-snippet b-grid__snippet  b-grid__cols2  b-grid__rows2">
                <div class="b-meta b-snippet__meta">
                  <h3 class="b-meta__title b-brief__hot dt-clamp dt-clamp-2">{{topic-link t}}</h3>
                  <div class="b-meta__labels">
                    <span>{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</span>
                  </div>
                </div>
                <div class="b-snippet__image">
                  <img src="{{t.image_url}}">
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>   
      </div>
    </div>
  {{/if}}
{{/if}}